%h2= "Email Template (#{@email_template.slug})"
%ul
  %li
    From:
    = @email_template.from
  %li
    CC:
    = @email_template.cc
  %li
    BCC:
    = @email_template.bcc
  %li
    Subject:
    = @email_template.subject
  %li
    Body:
    %br
    = simple_format( @email_template.body )
= link_to( "Edit", effective_email_templates.edit_admin_email_template_path( id: @email_template.id ) )

