%h2 Email Template
%ul
  %li
    From:
    = @email_template.from
  %li
    CC:
    = @email_template.from
  %li
    BCC:
    = @email_template.from
  %li
    Subject:
    = @email_template.from
  %li
    Body:
    %br
    = @email_template.body
